    <footer>
        <div>
            <p>Charles Cantin - Photographe</p>
            <p>Coordonnées : +33 6 00 11 22 33</p>
            <p>Email : charlescantin-photographe@orange.fr</p>
        </div>
        
        <div>
            <p>Menu</p>
            <nav>
                <ul class="list-links">
                    <li class="nav-link"><a href="#">Accueil</a></li>
                    <li class="nav-link"><a href="#">Galerie</a></li>
                    <li class="nav-link"><a href="#">Tarifs</a></li>
                    <li class="nav-link"><a href="#">Contact</a></li>
                    <li class="nav-link"><a href="#">Mentions légales</a></li>
                </ul>
            </nav>
        </div>

        <div>
            <p>Suivez-moi sur les réseaux sociaux</p>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-linkedin"></i>
        </div>

        <p>Morgane Mahé <i class="bi bi-c-circle"></i> Copyright 2023</p>
        
    </footer>
