<header class="header flux">
        <img class="logo" src="assets/logo.png" alt="logo Charles Cantin">

        <nav>
            <ul class="list-links">
                <li class="nav-link"><a href="#">Accueil</a></li>
                <li class="nav-link"><a href="#">Galerie</a></li>
                <li class="nav-link"><a href="#">Tarifs</a></li>
                <li class="nav-link"><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>